// Type Kit

@font-face {
  font-family: "Titillium Regular";
  font-weight: 400;
  src: url(../../assets//fonts/TitilliumWeb-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Titillium Bold";
  font-weight: 600;
  src: url(../../assets/fonts/TitilliumWeb-Bold.ttf) format("opentype");
}
