@use "./variables" as *;
@use "./fonts" as *;

//Layout
// screen sizes are defined at 768px, but are applied to screen sizes from 768px to 1279px.
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

// DESKTOP screen sizes are defined at 1280px, but are applied to screen sizes 1280px and greater.
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Type Kit

// Mobile Text
@mixin page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-family: $font-bold;
}

@mixin subheader {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: $font-bold;
}

@mixin labels-buttons {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-family: $font-bold;
}

@mixin table-header {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-family: $font-regular;
}

@mixin body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-family: $font-regular;
}

@mixin body-medimum {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-family: $font-regular;
}

@mixin body-small {
  font-size: 0.6875rem;
  line-height: 0.0725rem;
  font-family: $font-regular;
}

// Tablet & Desktop
@mixin tablet_desktop_page-header {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: $font-bold;
}

@mixin tablet_desktop_subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: $font-bold;
}

@mixin tablet_desktop_labels-buttons {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: $font-bold;
}

@mixin tablet_desktop_table-header {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-family: $font-regular;
}

@mixin tablet_desktop_body-large {
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: $font-regular;
}

@mixin tablet_desktop_body-medimum {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: $font-regular;
}

@mixin tablet_desktop_body-small {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-family: $font-regular;
}

//Layout Grid
@mixin mobile-grid {
  margin-left: 1rem;
  margin-right: 1rem;
}

@mixin tablet-grid {
  margin-left: 2rem;
  margin-right: 2rem;
}

@mixin desktop-grid {
  width: 63.75rem;
  margin-left: auto;
  margin-right: auto;
}
