@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.item-details {
  @include mobile-grid;
  position: absolute;
  top: 8.5rem;
  width: stretch;
  display: flex;
  flex-direction: column;
  background: $White;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;

  @include tablet {
    @include tablet-grid;
  }
  @include desktop {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px solid $Cloud;
    padding: 0.9375rem;
    @include tablet {
      align-items: center;
      justify-content: space-between;
      padding-top: 0.9375rem;
    }

    &-button {
      align-self: center;
      margin-left: auto;
      background-color: $Instock-Indigo;
      border-radius: 1.25rem;
      border-style: none;
      width: 2.25rem;
      height: 2.25rem;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 5.0625rem;
      }
      &-icon {
        width: 0.9375rem;
        height: 0.9375rem;
        filter: brightness(4) sepia(0) hue-rotate(0deg) saturate(0);
      }
      &-text {
        display: none;
        color: $White;
        @include tablet {
          @include tablet_desktop_labels-buttons;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  &__arrow-icon {
    padding-right: 1rem;
  }
  &__title {
    @include page-header;
    width: stretch;
    color: $Instock-Black;
    margin: 1rem 0;

    @include tablet {
      @include tablet_desktop_page-header;
    }
  }

  &__container {
    padding: 2rem;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 50%;
    }
    &-header {
      @include labels-buttons;
      color: $Slate;
      margin-bottom: 0.3rem;
      @include tablet {
        @include tablet_desktop_labels-buttons;
      }
    }
    &-description {
      @include body-medimum;
      margin-bottom: 1rem;
      color: $Instock-Black;
      font-weight: 100;
      width: 95%;
      @include tablet {
        @include tablet_desktop_body-medimum;
        width: 85%;
      }
    }
  }
  &__line {
    @include tablet {
      border-right: 0.5px solid $Cloud;
      position: absolute;
      top: 40%;
      left: 45%;
      bottom: 5%;
    }
  }
  &__availability {
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 50%;
      padding-left: 5%;
    }
    &-amount {
      display: flex;
      flex-direction: row;
      &-status {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include tablet {
          width: 100%;
        }
      }
      &-quantity {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
    &-header {
      @include labels-buttons;
      color: $Slate;
      margin-bottom: 0.5rem;
      @include tablet {
        @include tablet_desktop_labels-buttons;
      }
    }
    &-instock {
      width: 4rem;
      height: 1.5rem;
      margin-bottom: 0.2rem;
      margin-top: 0.25rem;
      color: $Green;
      background: #15846312;
      padding: 2px 4px;
      border-radius: 1.25rem;
      text-align: center;
    }
    &-outstock {
      width: 6rem;
      height: 1.5rem;
      text-transform: uppercase;
      margin: 0;
      color: $Red;
      background: $Red;
      background-color: #c9451512;
      margin-bottom: 1rem;
      padding: 2px 4px;
      border-radius: 1.25rem;
      @include tablet {
        margin-bottom: 1rem;
      }
    }
    &-description {
      @include body-medimum;
      margin: 0;
      color: $Instock-Black;
      font-weight: 100;
      margin-bottom: 5%;
      @include tablet_desktop_body-medimum;
    }
  }
}
