@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.warehouse-page {
  position: absolute;
  width: 90%;
  left: 1rem;
  top: 5rem;
  @include tablet {
    width: 100%;
  }
}
