@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.warehouses {
  &__box {
    border-bottom: 0.1rem solid $Cloud;
    padding: 1rem 0;

    @include tablet {
      display: flex;
      align-items: normal;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__text-box {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    @include tablet {
      width: 90%;
    }
  }
  &__column {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: normal;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
    @include tablet {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__info-short {
    @include tablet {
      width: 40%;
      padding-left: 1.7rem;
    }
  }
  &__address-text {
    @include tablet {
      padding-left: 1rem;
    }
  }
  &__contact-text {
    padding-left: 0;
  }

  &__mobile-header {
    @include table-header;
    color: $Slate;
    text-transform: uppercase;
    @include tablet {
      display: none;
    }
  }
  &__chevron {
    display: flex;
    margin-top: 0.25rem;
  }

  &__link-anchor {
    color: $Instock-Indigo;
    text-decoration: none;
    @include body-large;
  }

  &__info-long {
    @include tablet {
      width: 60%;
      padding-left: 0.8rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    @include tablet {
      display: inline-block;
      width: 12%;
    }
  }

  &__icon {
    height: 1.7rem;
    margin: 1rem 0.5rem 0 0;
    @include tablet {
      margin: 1rem 0.5rem 0 0;
      @include desktop {
        margin: 1rem 2rem 0 0;
      }
    }
  }

  &__chevron-link {
    display: flex;
    align-items: top;
  }
}
