@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventories {
  // width: 100%;
  margin-top: -4rem;
  padding-inline: 1rem;
  border-radius: 4px;
  background: $White;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  
  @include tablet {
    @include tablet-grid;
    margin-inline: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    right: 0%;
    left: 0%;
    top: 7.25rem;
    // width: 85%;
  }

  @include desktop {
    @include desktop-grid;
    width: 80%;
    left: 9rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: flex-start;

    @include tablet {
      padding: 1.25rem 2rem;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__header-title {
    @include page-header;
    color: $Instock-Black;
    margin-top: 0.75rem;

    @include tablet {
      margin-top: 2rem;
    }
  }

  &__header-container {
    display: flex;
    justify-content: flex-start;
    align-items: normal;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.5rem;
  }
  @include tablet {
    @include tablet-grid;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  @include desktop {
    @include desktop-grid;
  }

  &__header-form {
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $Cloud;

    @include tablet {
      display: flex;
      height: 40px;
      margin-top: 10px;
      border-bottom: none;
    }
  }

  &__header-form-search {
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: 94%;
    border-radius: 20px;
    border: 1px solid $Cloud;
    padding: 7px 16px;
    width: stretch;
    height: 2.25rem;
    margin-bottom: 15px;
    &:focus {
      outline: none;
      border: 1px solid $Instock-Indigo;
    }

    @include tablet {
      margin-right: 0.9375rem;
      width: 13rem;
      height: 2.375rem;
    }
    @include desktop {
      width: 20rem;
    }
  }

  &__header-form-button {
    background-color: $Instock-Indigo;
    color: $White;
    width: stretch;
    border-radius: 1.25rem;
    border: none;
    margin-bottom: 5px;
    height: 2.25rem;

    @include tablet {
      height: 2.375rem;
      width: 11rem;
    }
    &:hover {
      background-color: $Instock-Black;
    }
  }

  &__headings-container {
    background-color: $Light-Grey;
  }
  &__heading {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-around;
      padding-inline: 1rem;

    }
  }
  &__container {
    display: flex;
    justify-content: center;
    width: 20%;
  }

  &__heading-warehouse {
    @include labels-buttons;
    margin: 8px 0;
    color: $Slate;
    padding-left: 2rem;

    @include tablet {
      padding-left: 0;
    }
  }

  &__heading-icon {
    width: 1.0625rem;
  }
}
