@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.footer__copyright {
  @include table-header;
  color: $Slate;
  text-align: center;
<<<<<<< HEAD
  margin-bottom: 2.5rem;
=======
  vertical-align: center;
  padding: 40px;
  width: stretch;

  position: absolute;
  bottom: -1300px;
>>>>>>> develop

  @include tablet {
    @include tablet_desktop_table-header;
  }

  @include desktop {
    margin-bottom: 3rem;
  }
}
