@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.inventory {
  &__box {
    border-bottom: 0.1rem solid $Cloud;
    
    @include tablet {
      padding: 1rem 0rem 1rem 0rem;
      display: flex;
      flex-direction: row;
      // flex-wrap: nowrap;
      justify-content: space-around;
    }
  }
  &__text-box {
    display: flex;
    justify-content: space-around;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    @include tablet {
      display: flex;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    @include tablet {
      display: inline-block;
      width: 12%;
    }
  }
  &__column {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: normal;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: nowrap;
      // justify-content: flex-start;
      width: 20%;
    }
  }
  
  &__chevron {
    display: flex;
  }
  
  &__chevron-link {
    display: flex;
    flex-direction: column;
    // align-items: top;
  }
  
    &__mobile-header {
      @include table-header;
      color: $Slate;
      text-transform: uppercase;
      @include tablet {
        display: none;
      }
    }
    &__link-anchor {
      color: $Instock-Indigo;
      text-decoration: none;
      @include body-large;
    }

  &__info-address {
    @include tablet {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__column-contacts {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      // gap: 5rem;
      width: 20%;
      flex-direction: row;
      flex-wrap: nowrap;
      // justify-content: flex-start;
    }
  }

  &__info-contact {
    @include tablet {
      width: 100%;
      display: flex;
      //   justify-content: center;
      align-items: center;
      //   padding-left: 2rem;
    }
  }

  &__info-contact-info {
    @include tablet {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  &__address-text {
    @include tablet {
      padding-left: 1rem;
    }
  }
  &__contact-text {
    width: 4.5rem;
  }




  &__icon {
    height: 1.7rem;
    margin: 1rem 0.5rem 0 0;
    @include tablet {
      margin: 1rem 0.5rem 0 0;
      @include desktop {
        margin: 1rem 2rem 0 0;
      }
    }
  }

}
.in-stock{
    background-color: #15846312;
    color: #158463;
    height: 26px;
    width: 4.5rem;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}
.out-stock{
    background-color:rgba(201, 69, 21, 0.07);
    color: #C94515;
    width: 7rem;
    height: 26px;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}
